---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Profile from '../components/Profile.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
	title="Azizbek Saparbayev | Developer" 
	description="Minimalist personal site and project hub."
>
	<Header />
	
	<main>
		<Profile />
	</main>
	
	<Footer />
</Layout>

